<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>
  <body>
    <div id="header">
      <h1 id="headerText">Community Service</h1>
    </div>
    <div id="container">
      <h2 id="login">Login</h2>
      <input class="login" type="text" name="username" value=""><br/>
      <input class="login" type="password" name="password" value=""><br/>
      <button type="button" name="login">Log In</button>
    </div>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
    <script type="text/javascript" src="/javascripts/popper.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js"></script>
    <script type="text/javascript" src="/javascripts/functions.js"></script>
    <script type="text/javascript" src="/javascripts/login.js"></script>
  </body>
</html>
