* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/images/background.png");
  background-size: 20vw 20vw;
  background-repeat: repeat-y repeat-x;
}

p {
  margin-bottom: 0;
}

#header {
  width: 100%;
  min-height: 10vh;
  background-color: #ffd54f;
  text-align: center;
  color: black;
}

#headerText {
  padding-top: 2vh;
}

#container {
  text-align: center;
}

#login {
  text-align: center;
}

#submit {
  width: 15vw;
  min-height: 5vh;
}

.post {
  /* text-align: center; */
  width: 50vw;
  min-height: 10vw;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 1vw;
  padding: 0.5vw;
}

.title {
  text-align: center;
}

.reward {
  text-align: right;
}

.branch {
  text-align: right;
}

.login {
  margin: 10px;
  min-width: 20vw;
  height: 5vh;
  font-size: 3vh;
  border: 1.5px solid black;
  border-radius: 4px;
}
